html, body {
    height: 100%;
    width: 100%; 
}

header {
    background-color: rgb(230, 42, 42);
    color: white;
    text-align: center;
    font-size: 35px;
    height: 18%;
}

p {
    margin: auto;
}

.card {
    background-color: rgba(0,0,0,.03);
    padding: 0px;
    border-radius: 5px;
    margin:10px;
}

.card-header {
    background-color: rgb(2, 82, 253);
}

h3, h4{
    color: white;
}

h3 {
    font-weight: bolder;
}

.card-body {
    text-align: left;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-right: 10px;
    padding-left: 10px;
    
}

.attribute {
    border: 1px solid rgba(0,0,0,.125);
    background-color: white;
    padding: 10px;
    font-size: 16px;
   
}

#content {
    margin-top: 30px;
    justify-content: space-evenly;
}